* {
    box-sizing: border-box;
}
body {
    padding: 0;
    margin: 0;
    position: relative;
    width: 100%;
    height: 100vh;
    background: linear-gradient(180deg, rgba(48, 41, 78, 0.9) 6.77%, #322A53 100%);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.box {
    width: 100%;
    height: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.logo {
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo img {
    max-width: 210px;
}
.content {
    width: 100%;
    height: inherit;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    text-align: center;
    padding: 20px;
}
label {
    color: #fff;
    font-size: 42px;
    font-weight: 600;
    line-height: 45px;
}
input {
    padding: 10px;
    /* width: 80%; */
    height: 60px;
    margin: 10px 0;
    border: 0;
    border-radius: 5px;
    font-size: 20px;
    box-shadow: 0px 0px 5px 0px #000;
}
button {
    margin: 10px 0;
    height: 60px;
    font-size: 35px;
    font-weight: 600;
    cursor: pointer;
    background-color:#000;
    box-shadow: 0px 0px 5px 0px #000;
    color: #fff;
    border: 0;
    border-radius: 5px;
    width: 100%;
}
button:hover {
    background-color: #2c2c2c;
}


/* ROOM */
.header {
    width: inherit;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}
.my-cam {
    width: 144px;
    height: 139px;
    background-color: black;
    border-radius: 5px;
    color: #FFF;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
}
.my-cam video {
    width: 100%;
    height: 100%;
    position: absolute;
}

.logo-room {
    position: fixed;
    top: 0;
    left: 0;
    margin: 15px;
    z-index: 1;
}
.logo-room img{
    max-width: 5rem;
}

.outher {
    background-color: black;
    color: #fff;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    flex: 10rem;
    cursor: pointer;
    border: 1px solid #7b7b7b;
    border-radius: 2px;
    transition: .5s;
}
.outher video {
    width: 99%;
    height: 100%;
    position: absolute;
}
.outher h1 {
    position: absolute;
    left: 0;
    bottom: -15px;
    z-index: 1;
    background: darkmagenta;
    padding: 5px;
    margin: 25px 10px;
    text-align: center;
    font-size: 16px;
    border-radius: 5px;
}

.outher .mic-muted-overlay {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 35px;
    z-index: 1;
    box-shadow: 0px 0px 5px 0px #000;
    border-radius: 50px;
}

.outher .cam-muted-overlay {
    position: absolute;
    right: 10px;
    top: 48px;
    width: 35px;
    z-index: 1;
    box-shadow: 0px 0px 5px 0px #000;
    border-radius: 50px;
}

.buttons-cam {
    width: inherit;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 50px;
    z-index: 1;
}

.buttons-cam button {
    margin: 10px 30px;
    max-width: 55px;
    max-height: 55px;
    border-radius: 50px;
    transition: .5s;
    box-shadow: 0px 0px 5px 0px #000;
    background: transparent;
}

.buttons-cam .btn-cam {
    background-image: url(./assets/images/btn_cam_mute.png);
    background-repeat: no-repeat;
    background-position: center;
    /* background-size: 55px; */
    background-size: cover;
}
.btn-cam-active {
    background-image: url(./assets/images/btn_cam.png) !important;
}

.buttons-cam .btn-mic {
    background-image: url(./assets/images/btn_mic_mute.png);
    background-repeat: no-repeat;
    background-position: center;
    /* background-size: 55px; */
    background-size: cover;
}
.btn-mic-active {
    background-image: url(./assets/images/btn_mic.png) !important;
}
.buttons-cam .btn-screen {
    background-image: url(./assets/images/btn_screen_mute.png);
    background-repeat: no-repeat;
    background-position: center;
    /* background-size: 55px; */
    background-size: cover;
}
.btn-screen-active {
    background-image: url(./assets/images/btn_screen.png) !important;
}

.buttons-cam .btn-exit {
    background-image: url(./assets/images/btn_exit.png);
    background-repeat: no-repeat;
    background-position: center;
    /* background-size: 50px; */
    background-size: cover;
}

.notification {
    position: fixed;
    bottom: -100px;
    left: 10%;
    z-index: 1;
    color: #fff;
    width: 80%;
    margin: 0 auto;
    background-color: #de5124;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    transition: .5s;
}
.notification-active {
    bottom: 25%;
}
.video-box {
    width: 100%;
    height: inherit;
    display: flex;
    flex: auto;
    flex-direction: column;
}

.video-box .infocus {
    width: auto;
    height: 70%;
    display: flex;
    flex: auto;
    justify-content: center;
    position: relative;
    border: 2px solid #5c80ff;
    border-radius: 2px;
    overflow: hidden;
}

.video-box .outhers {
    display: flex;
    flex: auto;
    flex-wrap: wrap;
    background-color: #26203e70;
    justify-content: center;
    position: relative;
}

.preparo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex:auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background: linear-gradient(180deg, rgba(48, 41, 78, 0.9) 6.77%, #322A53 100%);
}
.preparo .room {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
}
.preparo .room div {
    display: flex;
    flex-direction: column;
    background: #251F3F;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: .5s;
}
.preparo .room div:hover {
    transform: scale(1.02);
}
.preparo .room label{
    font-size: 20px;
    line-height: 25px;
}
.preparo .room a{
    font-size: 30px;
    font-weight: bold;
    color: #DE9424;
}
.preparo .cam {
    flex: 1;
    width: 100%;
    max-height: 335px;
    background: black;
    margin: 5px;
    position: relative;
    border-radius: 2px;
    box-shadow: 0px 0px 5px 0px #000;
    display: flex;
    align-items: center;
    justify-content: center;
}
.preparo .cam video {
    max-width: 100%;
    max-height: 100%;
}
.preparo .cam div {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    position: absolute;
    right: 0;
    bottom: 5px;
}
.preparo .cam div button {
    max-width: 40px !important;
    width: 40px !important;
    height: auto !important;
    border-radius: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 10px;
    transition: .5s;
}
.preparo .cam div button:hover{
    transform: scale(1.1);
}
.preparo .cam div button img {
    max-width: inherit;
}

.preparo .cam .alias {
    position: absolute;
    bottom: 4px;
    left: 4px;
    font-size: 20px;
    padding: 0px 5px;
    background: lavender;
    border-radius: 2px;
    line-height: 35px;
    background-color:darkmagenta;
}

.preparo input  {
    padding: 10px;
    width: 100%;
    height: 60px;
    margin: 10px 0;
    border: 0;
    border-radius: 5px;
    font-size: 20px;
}

.btn-vermelho {
    background: brown;
}
.btn-vermelho:hover {
    background: rgb(194, 61, 61);
}

@media (min-width: 545px)  {
    .content {
        width: auto;
        height: auto;
        flex: auto;
    }
    .outher {
        flex: 16rem;
    }

    .outher:hover {
        transform: scale(1.02);
    }

    .infocus .outher:hover {
        transform: scale(1.0);
    }
    .buttons-cam button:hover {
        transform: scale(1.2);
    }
}

@media (min-width: 720px)  {
    .preparo .cam, .preparo input, .preparo button  {
        width: 450px;
    }
    .preparo .cam video {
        width: 90%;
    }
    .outhers {
        flex-direction: row;
        align-content: stretch;
        justify-content: center;
    }
    .outher {
        flex: 1 20rem;
        cursor: pointer;
    }
    .outher h1 {
        background: darkmagenta;
        font-size: 20px;
    }
    .video-box {
        flex-direction: row;
    }
    .video-box .infocus {
        width: 60%;
        height: 100%;
        display: flex;
        flex: auto;
        justify-content: center;
        position: relative;
    }
}

.splash {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(./assets/images/logo.png);
    background-size: 250px;
    background-repeat: no-repeat;
    background-position: center;
    background-color:  #322A53;
    z-index: 2;
    animation: zoom-in-zoom-out 5s ease-out infinite;
}

@keyframes zoom-in-zoom-out {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(1.3, 1.3);
    }
    100% {
        transform: scale(1, 1);
    }
}